<div class="modal-header border-0 pb-0">
  <div>
    <h5 class="modal-title text-primary-d3">Resultado de la búsqueda</h5>
    <div class="text-grey-m1 text-90">Verifica los datos seleccionados antes de continuar.</div>
  </div>
  <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="p-3 p-lg-4 bgc-white border-1 brc-secondary-l2 shadow-sm radius-2">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-center flex-shrink-0 bgc-primary-l3 radius-round mr-3 mr-lg-4"
        style="width: 4.5rem; height: 4.5rem;">
        <i class="fa text-primary text-180"
          [ngClass]="isCompany() ? 'fa-building' : 'fa-user'"></i>
      </div>

      <div class="flex-grow-1 overflow-hidden">
        <span class="badge badge-primary mb-2">{{ contextLabel }}</span>
        <h4 class="text-dark-d2 text-130 font-bolder mb-2 text-break">
          {{ name }}
        </h4>
        <div class="d-flex align-items-center flex-wrap text-grey-d1">
          <span class="badge badge-light border-1 brc-secondary-l2 mr-2">
            {{ getDocumentLabel() }}
          </span>
          <b>{{ documentNumber }}</b>
        </div>
        <div class="text-grey-m1 text-90 mt-2 text-break" *ngIf="address">
          <i class="fa fa-map-marker-alt text-primary-m1 mr-1"></i>
          {{ address }}
        </div>
      </div>

      <i class="fa fa-check-circle text-success text-180 ml-3 d-none d-sm-inline-block"></i>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary px-4" data-dismiss="modal">
    <i class="fa fa-check mr-1"></i>
    Continuar
  </button>
</div>
