<form autocomplete="off" class="mt-4">
    <div class="form-group">
        <div class="d-flex align-items-center input-floating-label text-blue brc-blue-m2">
            <input placeholder="Usuario" type="text"
                class="form-control form-control-lg pr-4 shadow-none"
                #txt_usuario
                id="id-login-username" />
            <i class="fa fa-user text-grey-m2 ml-n4" aria-hidden="true"></i>
            <label class="floating-label text-grey-l1 ml-n3" for="id-login-username">
                Usuario
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="d-flex align-items-center input-floating-label text-blue brc-blue-m2">
            <input placeholder="Contraseña" type="password"
                class="form-control form-control-lg pr-4 shadow-none"
                #txt_password
                id="id-login-password" />
            <i class="fa fa-key text-grey-m2 ml-n4" aria-hidden="true"></i>
            <label class="floating-label text-grey-l1 ml-n3" for="id-login-password">
                Contraseña
            </label>
        </div>
    </div>

    <button type="button"
        class="btn btn-primary btn-block px-4 btn-bold mt-4"
        (click)="IniciarSesion()">
        Iniciar sesión
    </button>
</form>
